<h2>Reactive driven form</h2>

<form [formGroup]="reactiveFormGroup" (submit)="onSubmit()">
    
    <div>Nome completo: <input type="text" formControlName="fullname"/></div>
    <div>E-mail: <input type="text" formControlName="email"/></div>
    <div>Età: <input type="number" formControlName="age"/></div>    
    
    <p>Sesso:</p>
    <input type="radio" id="sexM" name="sex" value="M" formControlName="sex">
    <label for="sexM">Maschio</label><br>
    <input type="radio" id="sexF" name="sex" value="F" formControlName="sex">
    <label for="sexF">Femmina</label><br>


    <div>Scuola: <input type="text" formControlName="school"/></div>
    <div>Password: <input type="password" formControlName="password"/></div>
    <div>Conferma: <input type="password" formControlName="confirmPassword"/></div>
    <div><input type="checkbox" formControlName="acceptPrivacyPolicy"/>Accetto la privacy policy</div>
    
    <button type="submit" [disabled]="reactiveFormGroup.invalid">INVIA</button>
</form>